

    <ul>
        <li><a href="#"><i class="fa fa-minus" aria-hidden="true"></i> Calculators </a></li>
        <li><a href="#"><i class="fa fa-minus" aria-hidden="true"></i> Directory of lawyers</a></li>
        <li><a href="#"> <i class="fa fa-minus" aria-hidden="true"></i> Courts and Courts </a></li>
        <li><a href="#"> <i class="fa fa-minus" aria-hidden="true"></i> Legal Dictionary </a></li>
        <li><a href="#"> <i class="fa fa-minus" aria-hidden="true"></i> Jurisprudence </a></li>
        <li><a href="#"><i class="fa fa-minus" aria-hidden="true"></i> laws and Codes </a></li>
    </ul>
