@if (Model.userSummaryModel.objListActivityModel != null && Model.userSummaryModel.objListActivityModel.Count > 0)
{
    for (int i = 0; i < Model.userSummaryModel.objListActivityModel.Count; i++)
    {
        <div class="clearfix margin15"></div>

        <div class="col-md-5 font-s">
            <div class="col-md-2 col-sm-2 col-xs-2">
                <img src="~/Images/pdf-icon.png">
            </div>

            <div class="col-md-10 col-sm-10 col-xs-10">
                <span class="color-t">@Model.userSummaryModel.objListActivityModel[i].ActivityText</span><br>
                <span>@Model.userSummaryModel.objListActivityModel[i].ModuleName</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 font-s m-top">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 m-top">
            <p>@Model.userSummaryModel.objListActivityModel[i].CreatedOn.ToShortDateString()</p>
        </div>
    }
}