@model RepidShare.Entities.DocumentModel

@using (Html.BeginForm("ShareDocument", "User", FormMethod.Post, new { @id = "frmShareDocument" }))
{
    @Html.HiddenFor(model => model.DocumentID, new { Value = Model.DocumentID, id = "hdnDocumentID" })
    <div class="row">
        <div class="col-sm-3 label-style">
            <label class="labelColon" for="StepName">E-Mail : </label>
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.ShareEMail, new { @id = "txtShareEMail", @class = "form-control", @maxlength = "100" })
            @Html.ValidationMessageFor(model => model.ShareEMail)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span>&nbsp</span>
        </div>
    </div>
    <div class="text-left button-group row">
        <div class="col-sm-3">&nbsp;</div>
        <div class="col-sm-9">
            <input id="btnFolder" class="btn btn-primary" type="submit" value="Share" />
        </div>
    </div>
}