@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_webSiteMasterLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="links-ul">
                <ul>
                    <li><a href="#"> Family law home</a></li>
                    <li><a href="#"> Building work</a></li>
                    <li><a href="#"> Buying &amp; selling</a></li>
                    <li><a href="#"> Complaints &amp; disputes</a></li>
                    <li><a href="#">Divorce</a></li>
                    <li><a href="#">Identity theft &amp; credit </a></li>
                    <li><a href="#">improvement </a></li>
                    <li><a href="#">lanlords </a></li>
                    <li><a href="#">Motoring </a></li>
                    <li><a href="#">personal finance </a></li>
                    <li><a href="#">power of attorney </a></li>
                    <li><a href="#">prenuptials &amp; living together </a></li>
                    <li><a href="#">probate&amp; confirmation </a></li>
                    <li><a href="#">Wills </a></li>
                    <li><a href="#">Workpalce </a></li>
                </ul>
            </div>
            <div class="margin15"></div>
            <div class="about-box">
                <h4>Family</h4>
                <i class="fa fa-book" aria-hidden="true"></i>
                <p>Need help understanding specific areas of law? Our lawguide can help you.</p>
                <a href="#"><p>Visit our Family guide</p></a>
            </div>

            <div>
                <img src="~/Images/WorkesImg.png" />
                @*<i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <p>Choose your document and try it for FREE</p>
                    <div class="margin15"></div>
                    <i class="fa fa-gbp fa-3x"></i>
                    <p>Purchase when you're happy to print or export</p>
                    <div class="margin15"></div>
                    <i class="fa fa-search fa-3x"></i>
                    <p>Have your document reviewed by our legal team for extra peace of mind</p>*@
            </div>
        </div>
        <div class="col-md-9">
            <h3 class="m-p">About Us</h3>
            <div class="margin15 clearfix"></div>
            <h4>One of the first online legal solutions services</h4>
            <p>
                Brought to you by Epoq Legal Ltd, Desktop Lawyer® is one of the UK's oldest and first online legal services providers. Our document automation technology Rapidocs® has won awards and we are the trusted provider of legal services to a number of top UK banks, insurers and law firms. For a full list of our clients visit our
            </p>
            <div class="margin15 clearfix"></div>
            <h4>Lower fixed fees by using clever web technology</h4>
            <p>
                What makes Desktop Lawyer really special is how we can offer you lower-cost, fixed-fee services, using the very same technology that law firms use for themselves.
            </p>
            <p>
                We can achieve this cost saving though the use of technology called Rapidocs which creates your legal document online from answers you give to a series of questions. Based on your responses, clauses are tailored to suit your circumstances.
            </p>
            <div class="margin15 clearfix"></div>
            <h4> Start for free using our great web tools</h4>
            <p>
                Our web-based document technology means you can now start a service for free, and you don't even need to register to get started.
            </p>
            <p>
                We also provide you with a collection of invaluable web tools which guide you through complicated legal processes including dealing with an identity theft crisis, choosing the correct Will and even undertaking a divorce. You can manage all of your documents online.
            </p>
            <div class="margin15 clearfix"></div>
            <h4>Money-back guarantee</h4>
            <p>
                By now you will have seen that although we are very different from a traditional law firm, we still offer the same high standards of service and professionalism that every client deserves. Because we are committed to customer satisfaction, great service and price transparency, we offer a no quibble, money-back guarantee on our entire range of web-delivered document services.
            </p>
            <p>
                Try our documents for free with Try before you buy, with no need even to register until you are happy to proceed.
                All our online services have fixed fees, so you know exactly what you are paying.
            </p>
            <p>
                Our easy-to-use systems let you manage the whole process online: create your document by answering the questions while you watch the draft of your tailored document take shape on screen.
            </p>
            <p>Our online services come with a money-back guarantee if you are not completely satisfied.</p>
        </div>
    </div>
</div>
